<div class="required twelve wide field">
  <label>ICMP Type</label>
    {{#ui-dropdown
      name="icmptype"
      class="search selection"
      selected=icmptype
      onChange=(action (mut icmptype))
    }}
      <div class="default text">Select Type</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each mod.ictype as |ictype|}}
          <div class="item" data-value="{{ictype.id}}" data-text="{{ictype.name}}">
            {{ictype.id}}, {{ictype.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
</div>
<div class="required twelve wide field">
  <label>ICMP Code</label>
  {{#ui-dropdown
    name="icmpcode"
    class="search selection"
    selected=icmpcode
    onChange=(action (mut icmpcode))
  }}
    <div class="default text">Select Code</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each mod.iccode as |iccode|}}
          <div class="item" data-value="{{iccode.id}}" data-text="{{iccode.name}}" >
            {{iccode.id}}, {{iccode.name}}
          </div>
        {{/each}}
    </div>
  {{/ui-dropdown}}
</div>