<div class="ui raised card rule rule-{{rule.id}}">
  <div class="content">
    <div class="right floated meta">
      {{#if (eq (null-replace rule.destport) '...')}}
        {{#ui-popup content="no dst. ports assigned" variation="mini inverted" position="top center"}}
          <a class="ui circular empty blue label"></a>
        {{/ui-popup}}
      {{else}}
        {{#ui-popup content="affected ports" variation="mini inverted" position="top center"}}
          <a class="ui circular blue label">{{rule.destport}}</a>
        {{/ui-popup}}
      {{/if}}
    </div>
    <div class="header title">{{rule.ipprotocol}}</div>
  </div>
  <div class="content">
    <div class="description">
      <div class="ui very relaxed list">
        <div class="item">
          <i class="icon calendar"></i>
          <div class="content">
            {{moment-format rule.validfrom 'ddd, DD MMM'}} &#126; {{moment-format rule.validfrom 'hh:mm:ss a'}}
          </div>
        </div>
        <div class="item">
          <i class="icon clock notched end"></i>
          <div class="content">
            Active for {{moment-from-now rule.validfrom hideSuffix=true interval=5000}}
          </div>
        </div>
        <div class="item">
          <i class="icon bug"></i>
          <div class="content">
            {{null-replace rule.pktlen}} <span> bits (range)</span>
          </div>
        </div>
        <div class="item">
          <i class="icon pin"></i>
          <div class="content">
            {{rule.rname}}
          </div>
        </div>
        <div class="item">
          <i class="icon warning sign"></i>
          <div class="content">
            {{rule.action}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content network">
    <div class="right floated item">
      <div class="header"><i class="icon radio selected"></i>Src.</div>
      <div class="meta">{{null-replace rule.destprefix}}</div>
    </div>
    <div class="item">
      <div class="header"><i class="icon long arrow right"></i>Dst.</div>
      <div class="meta">
        {{null-replace rule.srcprefix}}
      </div>
    </div>
  </div>
  <button class="ui bottom attached labeled icon grey button">
    <i class="pause icon"></i>
    Expire
  </button>
</div>