<div class="ui raised card rule-{{rule.id}}">
  <div class="content">
    <div class="right floated meta">
      <a class="ui circular blue label">{{rule.destport}}</a>
    </div>
    <div class="header">{{rule.ipprotocol}}</div>
  </div>
  <div class="content">
    <div class="description">
      <div class="ui very relaxed list">
        <div class="item">
          <i class="icon calendar"></i>
          <div class="content">
            {{moment-format rule.validfrom 'ddd, DD MMM'}} &#126; {{moment-format rule.validfrom 'hh:mm:ss a'}}
          </div>
        </div>
        <div class="item">
          <i class="icon clock notched end"></i>
          <div class="content">
            Running for {{moment-from-now rule.validfrom hideSuffix=true interval=5000}}
          </div>
        </div>
        <div class="item">
          <i class="icon bug"></i>
          <div class="content">
            {{rule.pktlen}} <span> bits (range)</span>
          </div>
        </div>
        <div class="item">
          <i class="icon pin"></i>
          <div class="content">
            {{rule.rname}}
          </div>
        </div>
        <div class="item">
          <i class="icon warning sign"></i>
          <div class="content">
            {{rule.action}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="right floated item">
      <div class="header"><i class="icon radio selected"></i>Src. IP.</div>
      <div class="meta">{{rule.destprefix}}</div>
    </div>
    <div class="item">
      <div class="header"><i class="icon long arrow right"></i>Dest. IP.</div>
      <div class="meta">
        {{rule.srcprefix}}
      </div>
    </div>
  </div>
  <div class="ui bottom attached labeled icon grey button">
    <i class="pause icon"></i>
    Expire
  </div>
</div>