<div {{action 'toggleDetail'}} class="card {{if showMore "detail"}}">
  <div class="protocol content">
    <span class="u{{rule.ipprotocol}}">udp</span>
    <span class="t{{rule.ipprotocol}}">tcp</span>
    <span class="i{{rule.ipprotocol}}">icmp</span>
    <span class="o{{rule.ipprotocol}}">other</span>
    <span class="counter"><a class="counter ui basic circular label tiny">{{format-ports rule.destport}}</a></span>
  </div>
  <div class="ruleinfo content">
    <div class="time">
      <p><i class="icon calendar"></i> {{moment-format rule.validfrom 'ddd, DD MMM'}} &#126; {{moment-format rule.validfrom 'hh:mm:ss a'}}</p>
      {{!-- <p><i class="icon clock"></i> </p> --}}
    </div>
    <div class="duration">
      <p>
        <i class="icon circle notched end"></i>
        <span> <span class="emph">Active</span> for </span>
        <span>{{moment-duration rule.duration}}</span>
      </p>
    </div>
    <div class="pktlen">
      <p><i class="icon bomb"></i>
        {{#if (eq rule.pktlen 'null')}}
          &hellip;
        {{else}}
          {{rule.pktlen}}<span> b</span>
        {{/if}}
      </p>
    </div>
    <div class="name">
      <p><i class="icon barcode outline"></i> {{rule.rname}}</p>
    </div>
    <div class="action">
      <p><i class="icon fire"></i> {{rule.action}}</p>
    </div>
  </div>
  <div class="ip-add content">
    <div class="srcip"><label>src. ip</label>
      <span>
        {{#if (eq rule.srcprefix null)}}
         &hellip;:&hellip;:&hellip;:&hellip;
        {{else}}
          {{rule.srcprefix}}
        {{/if}}
      </span>
    </div>
    <div class="destip"><label>dst. ip</label> <span>{{rule.destprefix}}</span></div>
    <div class="atck-arrow"></div>
  </div>
</div>