<li>
  <div  class="thumb {{if showMore "detail"}}" {{action 'toggleDetail'}}>
    <div class="point"></div>
    <div class="protocol">
      <span class="u{{rule.ipprotocol}}">{{rule.ipprotocol}}</span>
    </div>
    <div class="ipadd">
      <div class="srcip"><label>srce. ip</label>
        <span>
        {{#if (eq rule.srcprefix null)}}
          &hellip;:&hellip;:&hellip;:&hellip;
        {{else}}
          {{rule.srcprefix}}
        {{/if}}
        </span>
      </div>
      <div class="destip"><label>dest. ip</label> <span>{{rule.destprefix}}</span></div>
      <div class="atck-arrow"></div>
    </div>
    <div class="stats">
      <div class="ports">
        <label>port</label>
        {{#if (lte rule.destport 9)}}
        <span class="low">{{rule.destport}}</span>
        {{else}}
          {{#if (lte rule.destport 30)}}
          <span class="med">{{rule.destport}}</span>
          {{else}}
            {{#if (gte rule.destport 31)}}
            <span class="high">{{rule.destport}}</span>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      <div class="pktsize">
        <label>bits</label>
        {{#if (lte rule.pktlen 20)}}
        <span class="low">{{rule.pktlen}}</span>
        {{else}}
          {{#if (lte rule.pktlen 100)}}
          <span class="med">{{rule.pktlen}}</span>
          {{else}}
            {{#if (gte rule.pktlen 101)}}
            <span class="high">{{rule.pktlen}}</span>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      <div class="action">
        <label>action</label>
        <span>{{rule.action}}</span>
      </div>
    </div>
    <div class="time">
      <span>{{moment-from-now (moment-format rule.validfrom) hidePrefix=true interval=86400}}</span>
      <span>{{moment-format rule.validfrom 'DD MMM, \'YY'}} at {{moment-format rule.validfrom 'hh:mm:ss a'}}</span>
    </div>
  </div>
</li>