<tr class="rule rule-{{rule.id}}" {{action showRule rule.id rule.name}}>
  <td> <a class="ui green label">{{rule.ipprotocol}}</a> </td>
  <td> {{rule.srcprefix}}</td>
  <td> {{rule.destprefix}}</td>
  <td> {{rule.destport}}</td>
  <td> {{rule.pktlen}}</td>
  <td> {{rule.action}}</td>
  <td class="right aligned">
    {{moment-from-now
        rule.validfrom
        hidePrefix=true
        interval=86400}}</td>
</tr>