<div class="field">
  <label>Source Host or CIDR
    {{ui-popup
        tagName="i"
        class="info icon blue small"
        content="Empty source ip/cidr means any/all sources"
        variation="tiny"
        position="right center"}}
  </label>
  {{input
      type="text"
      name="srcip"
      id="srcip"
      value=srcip
      placeholder="e.g. 192.0.2.1 or 192.0.2.0/24"
      focus-out=(action "validateIpCidr" "#srcip")}}
  {{#unless (eq srcErr '')}}
      <div class="ui pointing basic red label">
        {{srcErr}}
      </div>
    {{/unless}}
</div>

{{#if (not-eq protocol 'icmp')}}
  <div class="field">
    <label>Source Port
      {{ui-popup
          tagName="i"
          class="info icon blue small"
          content="Empty port means any/all ports. You can see the entered value on the right"
          variation="tiny wide"
          position="right center"}}
      <span class="ui green header tiny">`{{srcport}}`</span>
    </label>
    {{input
        type="text"
        name="srcport"
        id="srcport"
        value=srcport
        placeholder="e.g =8080 =1000 <=5200"
        focus-out=(action "validatePort" '#srcport')}}
    {{#unless (eq srcPortErr '')}}
      <div class="ui pointing basic red label">
        {{srcPortErr}}
      </div>
    {{/unless}}
  </div>
{{/if}}
