<div class="required field">
  <label>Destination Host or CIDR</label>
  {{input type="text" name="destip" value=destip placeholder="e.g. 192.0.2.1 or 192.0.2.0/24"}}
</div>

<div class="required field">
  <label>Destination Port</label>
  {{input type="text" name="destport" value=destport placeholder="e.g 80"}}
</div>

<div class="required field">
  <label>TCP Flags</label>
  {{#ui-dropdown
    name="tcpflags"
    class="fluid search multiple selection"
    selected=tcpflags
    onChange=(action (mut tcpflags))
  }}
    <i class="dropdown icon"></i>
    <div class="default text">Flags</div>
    <div class="menu">
      {{#each mod.tcps as |tcp|}}
        <div class="item" data-value="{{tcp.flag}}" data-text="{{tcp.flag}}">
          {{tcp.flag}}
        </div>
      {{/each}}
    </div>
  {{/ui-dropdown}}
</div>