{{!-- {{#if (lt inbps.size 1)}}
  <p>no results for the given time interval</p>
{{else}}
  {{#each inbps.data as |t|}}
    <p>{{t.cidr}}</p>
    <p>{{t.x}}</p>
    <p>{{t.y}}</p>
  {{/each}}
{{/if}} --}}
{{dash-widget}}
