<div class="raised card usr-{{u.username}}" >
  <div class="content">
    <div class="right floated meta">
      <i class="edit blue icon" {{action showUser u.id u.username}}></i>
    </div>
    <div class="header title">
      {{ember-initials/adorable email=u.email size=150 class="ui avatar image"}}
      {{u.firstname}}
    </div>
  </div>
  <div class="content">
    <div class="ui relaxed list">
      <div class="item">
        {{user-icon kind=u.kind}}
        {{u.kind}}
      </div>
      <div class="item">
        <i class="mail outline icon"></i>
        <div class="content">{{u.email}}</div>
      </div>
      <div class="item">
        <i class="phone icon"></i>
        <div class="content">{{format-phone u.phone}}</div>
      </div>
      {{#ui-popup content="last logged in" variation="small inverted" position="top left"}}
        <div class="item">
          <i class="sign in icon"></i>
          {{moment-from-now (moment-format u.lastlogin) hidePrefix=true interval=86400}}
        </div>
      {{/ui-popup}}
    </div>
  </div>
  <div class="content">
    <div class="right floated item">
      <i class="remove grey icon"></i>
    </div>
    <div class="item">
      <i class="users icon black"></i>
      <span>{{u.companyname}}</span>
    </div>
  </div>
</div>