{{#if session.isAuthenticated}}
  {{notification-container position="top-right"}}
  <div class="pusher">
    <div class="full height">
      <div class="toc">
        {{side-menu name=fname kind=usertype usrname=uname useremail=usrmail}}
      </div>
      <div class="article">
        {{top-menu
          isUser=true
          routename=currentRouteName
          kind=usertype
        }}
        {{outlet}}
      </div>
    </div>
  </div>
{{else}}
  {{notification-container position="top"}}
  {{render "login"}}
{{/if}}
