{{#if (not-eq currentRouteName "login")}}
  <div class="">
    {{top-menu pagetitle=currentRouteName username='asmo'}}
    {{side-menu}}
    <div class="appcontent">
      <div class="centered">
        {{outlet}}
      </div>
    </div>
  </div>
{{else}}
  {{#if (eq currentRouteName "404")}}
    {{render "404"}}
  {{else}}
    {{render "login"}}
  {{/if}}
{{/if}}