{{#if (not-eq currentRouteName "login")}}

  <div class="pusher">
    <div class="full height">
      <div class="toc">
        {{side-menu username='Ashokaditya' kind='globaladmin'}}
      </div>
      <div class="article">
        {{top-menu routename=currentRouteName kind='globaladmin'}}
        <div class="ui grid">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>

{{else}}
  {{#if (eq currentRouteName "login")}}
    {{login}}
  {{else}}
    {{not-found}}
  {{/if}}
{{/if}}