{{#if (not-eq currentRouteName "login")}}
  {{top-menu pagetitle=currentRouteName username='asmo' usrtype='globaladmin'}}
  {{side-menu}}
  <div class="appcontent">
    <div class="centered">
      {{outlet}}
    </div>
  </div>
{{else}}
  {{#if (eq currentRouteName "login")}}
    {{render "login"}}
  {{else}}
    {{not-found}}
  {{/if}}
{{/if}}