<div class="ui grid">
  <div class="ten wide column">
    {{traffic-band}}
  </div>
  <div class="six wide column">
    {{in-bps}}
  </div>
  <div class="ten wide column">
    {{in-pps}}
  </div>
  <div class="six wide column">
    {{top-in-pps}}
  </div>
  <div class="eight wide column">
    {{top-in-bps}}
  </div>
</div>