<div class="sixteen wide mobile eight wide computer column">
  {{traffic-band}}
</div>
<div class="sixteen wide mobile sixteen wide tablet four wide computer column">
  {{in-bps}}
</div>
<div class="sixteen wide mobile sixteen wide tablet four wide computer column">
  {{top-in-bps}}
</div>
<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{in-pps}}
</div>
<div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
  {{top-in-pps}}
</div>
