<div class="ui grid">
  <div class="eight wide mobile eight wide tablet two wide computer column">
    {{dash-stats 'act' model}}
  </div>
  <div class="eight wide mobile eight wide tablet two wide computer column">
    {{dash-stats 'exp' model}}
  </div>
  <div class="eight wide mobile eight wide tablet two wide computer column">
    {{dash-stats 'tcp' model}}
  </div>
  <div class="eight wide mobile eight wide tablet two wide computer column">
    {{dash-stats 'icmp' model}}
  </div>
  <div class="eight wide mobile eight wide tablet two wide computer column">
    {{dash-stats 'udp' model}}
  </div>
  <div class="eight wide mobile eight wide tablet two wide computer column">
    {{dash-stats 'oth' model}}
  </div>
  <div class="eight wide mobile eight wide tablet two wide computer column">
    {{dash-stats 'tot' model}}
  </div>
  <div class="eight wide mobile eight wide tablet two wide computer column">
    {{dash-stats 'net' model}}
  </div>

  <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
    {{dash-widget
      'traffic-band'
      'bits/s'
      'qf-traffic'
      'traffic bandwidth'
      '#90CAF9'
      '#80CBC4'
      'area'
    }}
  </div>
  <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
    {{dash-widget
      'bps-in'
      'bits/s'
      'qf-in-bps'
      'bps (in)'
      '#90CAF9'
      ''
      'area'
    }}
  </div>
  <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
    {{dash-widget
      'top-10-bps-in'
      'bits/s'
      'qf-top-10-in-bps'
      'top 10 bps (in)'
      '#BBDEFB'
      ''
      'line'
    }}
  </div>
  <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
    {{dash-widget
      'pps-in'
      'packets/s'
      'qf-in-pps'
      'pps (in)'
      '#F48FB1'
      ''
      'area'
    }}
  </div>
  <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
    {{dash-widget
      'top-10-pps-in'
      'packets/s'
      'qf-top-10-in-pps'
      'top 10 pps (in)'
      '#F8BBD0'
      ''
      'line'
    }}
  </div>
</div>

