{{!-- {{top-in-bps inbps=model}} --}}
<div class="ui grid">
  <div class="six wide column">
    {{top-in-bps}}
  </div>
  <div class="six wide column">
    {{top-in-pps}}
  </div>
  <div class="six wide column">
    {{top-in-bps}}
  </div>
  <div class="six wide column">
    {{top-in-pps}}
  </div>
</div>