{{!-- <div class="sign-in">
  <div><span>DeIC</span><span>Gossamer</span></div>
  <div class="ui centered grid">
    <div class="three wide column">
      <form class="ui form mini four wide column" {{action "login" on="submit"}}>
        <div class="field">
          {{input type='text' id='username' placeholder='Type in your username' value=username}}
        </div>
        <div class="required field">
          {{input type='password' id='password' placeholder='and password' value=password}}
        </div>
        <div class="field">
           {{input class="ui mini fluid black button"
              type="submit"
              value="Log In"
           }}
        </div>
      </form>

    </div>
  </div>
</div> --}}


<div class="ui middle aligned centered grid">
  <div class="three wide column">
    <h2 class="ui blue header">
      <div class="ui logo label"><span>DeIC</span><span>Gossamer</span></div>
      <div class="content">
       Login to your account
      </div>
    </h2>
    <form class="ui large form" {{action "login" on="submit"}}>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        {{!-- <div class="ui fluid large blue submit button">Login</div> --}}
        {{input class="ui fluid large blue submit button" type="submit" value="Login" }}
      </div>

      <div class="ui error message"></div>
      {{#if loginFailed}}
        <div class="ui bottom attached warning message">
          <i class="icon help"></i>
          Login failed! Please try again.
        </div>
      {{/if}}
    </form>

    <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div>
  </div>
</div>