<div class="ui grid">
  <div class="eight wide column">
    <h2>Schedule a rule</h2>
    <form class="ui form mini four wide column">
      <div class="field">
        <label>Source</label>
        <div class="ui basic label">
         <i class="bullseye icon"></i>&nbsp;&nbsp;Any&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      <div class="required field">
        <label>Protocol</label>
        <div class="inline fields">
          <div class="field">
            {{ui-radio name="protocol" label="TCP" value="tcp" current=protocol onChange=(action (mut protocol))}}
          </div>
          <div class="field">
            {{ui-radio name="protocol" label="UDP" value="udp" current=protocol onChange=(action (mut protocol))}}
          </div>
          <div class="field">
            {{ui-radio name="protocol" label="ICMP" value="icmp" current=protocol onChange=(action (mut protocol))}}
          </div>
        </div>
      </div>

      <h4 class="ui dividing header">Protocol Information</h4>
      {{#if (eq protocol "tcp")}}
        {{tcp-fields}}
      {{else}}
        {{#if (eq protocol "udp")}}
          {{udp-fields}}
        {{else}}
          {{#if (eq protocol "icmp")}}
            {{icmp-fields mod=model}}
          {{else}}
            Choose a protocol above
          {{/if}}
        {{/if}}
      {{/if}}

      <h4 class="ui dividing header">Necessary Information</h4>
      <div class="twelve wide field">
        <label>Packet Length</label>
        <input type="text" name="pckt-length" placeholder="e.g. 2048">
        {{!-- \b\d{1,4}[.]\d{1,4}[.]\d{1,4}[.]\d{1,4}\b --}}
      </div>
      <div class="required twelve wide field">
        <label>Fragment Encoding</label>
        {{#ui-dropdown class="search selection" allowAdditions=true selected=fragment_encode onChange=(action (mut fragment_encode)) as |execute mapper|}}
          <div class="default text">Select Encoding</div>
          <i class="dropdown icon"></i>
        {{/ui-dropdown}}
      </div>

      <div class="field">
        <label>Short comment&hellip;</label>
        <textarea rows="3"></textarea>
      </div>

      <div class="required field">
        <label>Action</label>
        <div class="inline fields">
          <div class="field">
            {{ui-radio name="rule-action" label="Rate Limit" value="rlimit"}}
          </div>
          <div class="field">
            {{ui-radio name="rule-action" label="Block" value="block"}}
          </div>
        </div>
      </div>

      <div class="ui mini animated fade button blue" tabindex="0">
        <div class="visible content">Add</div>
        <div class="hidden content">
          <i class="add arrow icon"></i>
        </div>
      </div>
    </form>
  </div>
  <div class="eight wide column">
    {{!-- {{top-in-pps}} --}}
  </div>
  <div class="eight wide column">
    {{!-- {{in-bps}} --}}
  </div>
  <div class="eight wide column">
    {{!-- {{in-pps}} --}}
  </div>
</div>