<div class="ui grid">

  <div class="sixteen wide mobile ten wide tablet six wide computer column">

    <div class="ui padded segment">
      <div class="ui list">
        <div class="item">
          <div class="right floated content">
            <span>fields marked with <div class="ui red tiny circular empty label dot"></div> are required</span>
          </div>
          <div class="content">
             <div class="ui header large">Create BGP FlowSpec Rule</div>
          </div>
        </div>
      </div>
      <form class="ui form" {{action "createRule" on="submit"}}>
        <h4 class="ui dividing medium header green">Protocol <div class="ui red tiny circular empty label dot"></div></h4>
        <div class="required field">
          <div class="inline fields">
            <div class="field">
              {{ui-radio name="protocol"
                  label="TCP"
                  value="tcp"
                  current=protocol
                  onChange=(action (mut protocol))}}
            </div>
            <div class="field">
              {{ui-radio
                  name="protocol"
                  label="UDP"
                  value="udp"
                  current=protocol
                  onChange=(action (mut protocol))}}
            </div>
            <div class="field">
              {{ui-radio
                  name="protocol"
                  label="ICMP"
                  value="icmp"
                  current=protocol
                  onChange=(action (mut protocol))}}
            </div>
          </div>
        </div>
        <h4 class="ui dividing medium header blue">Source Information</h4>
         {{src-fields
            srcip=srcip
            srcport=srcport
            protocol=protocol
            validated=validated
            validatePort=(action "validatePort")
            validatePrefix=(action "validatePrefix")}}
        <h4 class="ui dividing medium header green">Destination Information</h4>
        {{#if (not-eq protocol '')}}
          {{dest-fields
              mod=model
              destip=destip
              destport=destport
              protocol=protocol
              tcpflags=tcpflags
              icmptype=icmptype
              icmpcode=icmpcode
              usrNetworks=usrNetworks
              userNetworksPopup=userNetworksPopup
              validated=validated
              destErr=destErr
              destPortErr=destPortErr
              validDestPort=validDestPort
              validatePort=(action "validatePort")
              validatePrefix=(action "validatePrefix")}}
        {{else}}
          <p>Select a protocol above to proceed</p>
        {{/if}}

        <h4 class="ui dividing medium header green">IP Parameters</h4>
        <div class="field">
          <label>Packet Size or Range <span class="ui green header tiny">`{{pktlen}}`</span></label>
          {{input type="text"
            id="pktlen" name="pktlen" id="pktlen"
            value=pktlen placeholder="e.g. 1500 or >=64 <=9000"}}
        </div>
        <div class="field">
          <label>Fragment Encoding</label>
          {{#ui-dropdown
              name="fragenc"
              class="search selection"
              allowAdditions=true
              selected=fragenc
              onChange=(action (mut fragenc))}}
            <div class="default text">Select/Add encoding</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each fragmentList as |fragment|}}
                <div class="item" data-value="{{fragment}}" data-text="{{fragment}}">
                  {{fragment}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>

        <h4 class="ui dividing medium header green">Rule Duration <div class="ui red tiny circular empty label dot"></div></h4>
        <div class="field">
           {{ui-checkbox
              label="Run on deploy"
              checked=isdefDur
              onChange=(action (mut isdefDur))}}
           {{ui-popup tagName="i"
              class="info icon green small"
              content="If checked, time range of rule is set to 10 minutes. It starts when you ''Deploy Rule''"
              variation="mini wide"
              position="right center"}}
        </div>

        <div class="ui grid">
          <div class="field eight wide column">
            <label>From:</label>
            {{ember-flatpickr
                altFormat='D, d M \'y, H:i'
                altInput=true
                altInputClass='my-alt-input'
                date=(readonly mnow)
                dateFormat='M/D/Y'
                defaultDate=fromDate
                disableMobile=true
                enableTime=true
                minDate=mnow
                minuteIncrement=1
                nextArrow='<i class="icon angle right"></i>'
                onChange=(action (mut fromDate))
                placeholder='Choose a begin time'
                prevArrow='<i class="icon angle left"></i>'
                shorthandCurrentMonth=true
                time_24hr=true}}
          </div>
          <div class="field eight wide column">
            <label>To:</label>
            {{ember-flatpickr
                altFormat='D, d M \'y, H:i'
                altInput=true
                altInputClass='my-alt-input'
                date=(readonly mnowef10m)
                dateFormat='M/D/Y'
                defaultDate=toDate
                disableMobile=true
                enableTime=true
                minDate=mnowef10m
                minuteIncrement=1
                nextArrow='<i class="icon angle right"></i>'
                onChange=(action (mut toDate))
                placeholder='Choose an end time'
                prevArrow='<i class="icon angle left"></i>'
                shorthandCurrentMonth=true
                time_24hr=true}}
          </div>

        </div>

        <h4 class="ui dividing medium header green">Network Action
          <div class="ui red tiny circular empty label dot"></div>
        </h4>
        <div class="inline fields">
          <div class="field">
            {{ui-radio
                name="ruleact"
                label="Block"
                value="discard"
                current=ruleact
                onChange=(action (mut ruleact))}}
          </div>
          <div class="field">
            {{ui-radio
                name="ruleact"
                label="Rate Limit"
                value="rate limit"
                current=ruleact
                onChange=(action (mut ruleact))}}
          </div>
        </div>
        {{#if (eq ruleact 'rate limit')}}
          <div class="field">
            <label>Bits/sec<div class="ui red tiny circular empty label dot"></div>
              {{ui-popup
                  tagName="i"
                  class="info icon green small"
                  content="Only positive integers >= 1 and <=10^11, e.g 8300"
                  variation="mini wide"
                  position="right center"}}
            </label>
            {{input type="number"
                min="1"
                max="9600"
                id="pktrate"
                name="pktrate"
                id="pktrate"
                value=pktrate
                placeholder="e.g. 9600"
                focus-out=(action "validateRateLimit")}}
            {{#unless (eq rateLimErr '')}}
              <div class="ui pointing red label">
                {{rateLimErr}}
              </div>
            {{/unless}}
          </div>
        {{/if}}

        <h4 class="ui dividing medium header green">Rule Description</h4>
        <div class="field">
          {{input type="text"
              id="shrtcomm"
              name="shrtcomm"
              value=shrtcomm
              placeholder="e.g. why is this rule being added?"}}
        </div>

        <button class="ui animated fade green button" disabled="{{unless validated 'disabled'}}" type="submit">
          <div class="hidden content"><i class="check icon"></i></div>
          <div class="visible content">Deploy Rule</div>
        </button>
        <button class="ui animated fade button" type="reset" {{action "resetForm"}}>
          <div class="hidden content"><i class="refresh icon"></i></div>
           <div class="visible content">Reset Fields</div>
        </button>

      </form>
    </div>

  </div>

</div>