<div class="ui grid">
  <div class="sixteen wide column">
    <h4><span class="emph">Active</span> currently</h4>
    <div class="history-cards">
      {{#if (gt rules.meta.recent 0)}}
        {{#each rules as |rule i|}}
          {{#if rule.isactive}}
            {{rules-card
              rule=rule
              showRule=(action 'showRule')
            }}
          {{/if}}
        {{/each}}
      {{else}}
        &#8942;
      {{/if}}
    </div>
    <h4><span class="emph">Expired</span> earlier&hellip;</h4>
    <div class="history-thumbs">
      <div class="ui inverted dimmer">
        <div class="ui text loader">Fetching&hellip;</div>
      </div>
      <ul class="timeline">
       {{#if (gt rules.meta.older 0)}}
        {{#each rules as |rule j|}}
          {{#if rule.isexpired}}
            {{rules-list
              rule=rule
              showRule=(action 'showRule')
              fetchMore=(action 'fetchMore')
            }}
          {{/if}}
        {{/each}}
      {{else}}
        &#8942;
      {{/if}}
      </ul>
      <div class="sec-load center">
        <button class="ui mini animated vertical button black" {{action 'fetchMore'}}>
          <div class="visible content">More</div>
          <div class="hidden content">
            <i class="arrow down icon"></i>
            <i class="loading dots2 invisi" aria-hidden=true></i>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="six wide column">
    {{rule-edit
      rid=rid
      coid=coid
      rname=rname
      uid=uid
      way=way
      active=active
      expired=expired
      proto =proto
      action=action
      required=(action 'required')
    }}
  </div>
</div>

