<div class="ui grid">

  <div class="sixteen wide column">
    <div class="ui horizontal list">
      <div class="item">
        <h3 class="ui header">Active currently</h3>
      </div>
      <div class="item">
        {{ui-checkbox class="toggle" label=checkLabel checked=preChecked onChange=(action (mut preChecked))}}
      </div>
      <div>&nsbp;</div>
    </div>
    <div class="ui link raised cards">
      {{#if (gt rules.meta.recent 0)}}
        {{#each rules as |rule i|}}
          {{#if rule.isactive}}
            {{rules-card
              rule=rule
              preChecked=preChecked
              showRule=(action 'showRule')
              updateRule=(action 'updateRule')
            }}
          {{/if}}
        {{/each}}
      {{else}}
        &#8942;
      {{/if}}
    </div>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Expired earlier</h3>
    <div class="tabpager">
      <table class="ui stackable striped padded table">
        <thead>
          <tr>
            <th class="two wide"><i class="icon hashtag"></i> Protocol</th>
            <th class="two wide">Src. <i class="icon long right arrow"></i></th>
            <th class="two wide"><i class="icon radio selected"></i> Dst.</th>
            <th class="two wide"><i class="icon ellipsis horizontal"></i> Dst. Prts (range)</th>
            <th class="two wide"><i class="icon bug"></i> Bits (range)</th>
            <th class="two wide"><i class="icon warning sign"></i> Action</th>
            <th class="three wide right aligned"><i class="icon history"></i> Expired</th>
          </tr>
        </thead>
        <tbody>
          {{#if (gt rules.meta.older 0)}}
            {{#each rules as |rule j|}}
              {{#if rule.isexpired}}
                {{rules-list
                  rule=rule
                  showRule=(action 'showRule')
                  fetchMore=(action 'fetchMore')
                }}
              {{/if}}
            {{/each}}
          {{else}}
            {{rules-empty-row}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="sixteen wide mobile six wide tablet three wide computer centered column">
    <button class="ui labeled icon black grey button fluid" {{action 'fetchMore'}}>
      <i class="arrow down icon"></i>
      Load More
    </button>
  </div>
</div>
