<div class="ui grid">
  <div class="eight wide column">
    <h2>Users</h2>
    <div class="ui three stackable cards user">
      {{#each model.users as |u|}}
        {{!-- {{user-stub u=user}} --}}
          <div class="card usr-{{u.username}}" {{action 'showUser' u.id u.username u.customerid u.companyname u.kind u.name u.email u.phone}}>
            <div class="image">
              {{ember-initials/adorable email=u.email size=380}}
            </div>
            <div class="content">
              <div class="header">
                <div class="ui tiny relaxed list">
                  <div class="item">
                    <i class="user outline icon ui basic grey small"></i>
                    <div class="content">{{u.name}}</div>
                  </div>
                </div>
              </div>
              <div class="details">
                <div class="ui tiny relaxed list">
                  <div class="item">
                    <i class="mail outline icon ui basic grey small"></i>
                    <div class="content">{{u.email}}</div>
                  </div>

                  <div class="item">
                    {{user-icon kind=u.kind}}
                    <div class="content">{{u.kind}}</div>
                  </div>

                </div>
              </div>
            </div>
            <div class="extra content">
              <div class="right floated date">
                <i class="sign in icon basic grey"></i>
                <span>{{moment-from-now (moment-format u.lastlogin) hidePrefix=true interval=86400}}</span>
              </div>
              <div>
                <i class="users icon basic grey"></i>
                <span>{{u.companyname}}</span>
              </div>
            </div>
          </div>

      {{/each}}
    </div>
  </div>
  <div class="eight wide column">
    {{!-- {{edit-user users=model.users customers=model.customers}} --}}

    <ul class="errors ui list mini">
      {{#each errors as |error|}}
        <li>{{error.message}}</li>
      {{/each}}
    </ul>
    <div class="ui grid edit-user">
      <div class="sixteen wide column">
        <h2>Edit <span class="title">{{firstname}}</span> </h2>
        <form class="ui form mini" {{action "saveUser" on="submit"}}>
          <div class="required field">
            <label>Admin Type</label>
            <div class="inline fields togDisabled disabled">
              <div class="field">
                {{ui-radio name="kind" label="Network" value="netadmin" current=kind onChange=(action (mut kind))}}
              </div>
              <div class="field">
                {{ui-radio name="kind" label="Database" value="dbadmin" current=kind onChange=(action (mut kind))}}
              </div>
              <div class="field">
                {{ui-radio name="kind" label="Global" value="globaladmin" current=kind onChange=(action (mut kind))}}
              </div>
            </div>
            {{!-- {{kind}} --}}
          </div>
          <div class="required field">
            <label>Customer</label>
            {{#ui-dropdown class="search selection togDisabled disabled" allowAdditions=false selected=companyname onChange=(action (mut customerid)) as |execute mapper|}}
              <i class="dropdown icon"></i>
              <div class="default text" data-value="">Co. Inc.</div>
              <div class="menu">
                {{#each customers as |customer|}}
                  <div class="item" data-value="{{customer.id}}">
                    {{customer.companyname}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          </div>
          <div class="required field">
            <label>Networks of {{companyname}}</label>
            {{#ui-dropdown class="search multiple selection togDisabled disabled" allowAdditions=false selected=netnames onChange=(action (mut netnames)) as |execute mapper|}}
              <i class="dropdown icon"></i>
              <div class="default text" data-value="">Co. Inc.'s net1</div>
              <div class="menu">
                {{#each networks as |network|}}
                  {{#if (eq network.customerid customerid)}}
                    <div class="item" data-value="{{network.id}}">
                      {{network.name}}
                    </div>
                  {{/if}}
                {{/each}}
              </div>
            {{/ui-dropdown}}
          </div>
          <div class="required field">
            <label>Password</label>
            {{input type="password" name="password" placeholder="new password" value=password disabled=changePass}}
          </div>
          <button class="ui mini animated fade button blue disabled togDisabled" type="submit">
            <div class="visible content">{{act}}</div>
            <div class="hidden content"><i class="{{buttonico}} icon"></i></div>
          </button>
          <button class="ui mini animated fade button grey" type="reset" {{action "resetForm" on="click"}}>
            <div class="visible content">Cancel</div>
            <div class="hidden content"><i class="cancel icon"></i></div>
          </button>
        </form>
      </div>
    </div>

  </div>
</div>